main {
    padding: 1em;
}

.case-thumb {
    display: flex;
    gap: 100px;
    min-height: calc(50vh - 80px);
}

.product-img {
    min-height: calc(100vh - 80px);
    display: grid;
    place-content: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#edspresso-img {
    background-image: url("/assets/Mockups-Edspresso.png");
}

#mobile-img {
    background-image: url("/assets/mobile-case.png");
}

#capstone-img {
    background-image: url("/assets/Mockups-DailyGo.png");
}

.two-imgs {
    display: flex;
    flex-direction: row;
    height: 500px;
    place-content: center;
    margin-left: 32px;
    margin-bottom: 32px;
}

#card1 {
    width: 300px;
}



.case-details-page {
    flex: 1;
    margin-top: 64px;
    margin-bottom:24px;
}


.case-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.case-process {
    min-height: calc(50vh - 80px);
    align-items: center;
}
.case-process h3 {
    margin-bottom: 24px;
    margin-top: 24px;
}
.process-card {
    width: 1000px;
    display:flex;
    gap: 24px;
}
.step {
    width: 100%;
    border-radius: 24px;
    padding: 32px;
    background-color: var(--gray-light);
}

.step-title {
    margin-bottom: 1em;
    text-align: center;
}

.case-content {
    margin-top: 24px;
    margin-bottom:24px;
    gap: 24px;
}

.case-paragraph {
    margin-top: 24px;
    margin-bottom:24px;

    max-width: 800px;
}

.content-img {
    max-width: 100%;
    place-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 16px;
}

#p1 {
    margin-top: 64px;
    margin-bottom: 64px;
}

#p2 {
    margin-top: 64px;
    margin-bottom: 64px;
}

#p3 {
    margin-top: 64px;
    margin-bottom: 64px;
}



@media only screen and (max-width: 600px) {
    .case-page {
        display: flex;
        flex-direction: column;
    }

    .case-thumb {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .case-details {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .process-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .step {
        width: auto;
    }

    #card1 {
        width: auto;
    }

}